@model IEnumerable<FinancialDataDto>

@{
    
}

<div class="row d-flex justify-content-center">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Dividends</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Earnings</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Stock Prices</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area me-1"></i>
                Volatility
            </div>
            <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                Correlation
            </div>
            <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
        </div>
    </div>
</div>


@if (Model != null)
{
    @* -----StockPrice----- *@

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            @ViewBag.StockPriceCaption
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Date</th>
                        <th>Open</th>
                        <th>High</th>
                        <th>Low</th>
                        <th>Close</th>
                        <th>CloseAdjusted</th>
                        <th>Volume</th>
                        <th>SplitCoefficient</th>
                        <th>
                            <button type="button" class="btn btn-primary btn-sm" style="background: #444d6a !important; color:#fff !important;" data-toggle="modal" data-target="#createUserModal">
                                Add New
                            </button>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var stockPrices in Model)
                    {
                        @foreach (var stockPrice in stockPrices.StockPrices!)
                        {
                            @if (stockPrices.StockPrices != null)
                            {
                                @if (stockPrices.StockPrices.Count() > 0)
                                {
                                    <tr style="font-size:15px">
                                        <td>@stockPrice.Symbol</td>
                                        <td>@stockPrice.Date</td>
                                        <td>@stockPrice.Open</td>
                                        <td>@stockPrice.High</td>
                                        <td>@stockPrice.Low</td>
                                        <td>@stockPrice.Close</td>
                                        <td>@stockPrice.CloseAdjusted</td>
                                        <td>@stockPrice.Volume</td>
                                        <td>@stockPrice.SplitCoefficient</td>
                                        <td>
                                            <button type="button" class="btn  btn-sm loat-end m-1" style="background: #c0c0c0 !important; color:#444d6a !important; text-transform: none;" data-toggle="modal" data-target="#exampleModalCenter" asp-controller="User" asp-action="Details">
                                                Details
                                            </button>
                                            <button type="button" class="btn  btn-sm loat-end m-1" style="background: #d6ad53 !important; color:#fff !important; text-transform: none;" data-toggle="modal" data-target="#exampleModalCenter" asp-controller="User" asp-action="Edit">
                                                Edit
                                            </button>
                                            <button type="button" class="btn  btn-sm loat-end m-1" style="background: #ba5567 !important; color:#fff !important; text-transform: none;" data-toggle="modal" data-target="#exampleModalCenter" asp-controller="User" asp-action="Delete">
                                                Delete
                                            </button>

                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="100">
                                            <br>
                                            <p>
                                                <strong>
                                                    No records to display
                                                </strong>
                                            </p>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="100">
                                        <br>
                                        <p>
                                            <strong>
                                                No records to display
                                            </strong>
                                        </p>
                                    </td>
                                </tr>
                            }

                        }

                    }
                </tbody>
            </table>
        </div>
    </div>

}
else
{
    <tr>
        <td colspan="100">
            <br>
            <p>
                <strong>
                    Nothing to display here.
                </strong>
            </p>
        </td>
    </tr>
}


@section Scripts{

    <script>
        var jwtToken = '@ViewBag.JwtToken';
        saveTokenToLocalStorage(jwtToken);
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/sb/assets/demo/chart-area-demo.js"></script>
    <script src="~/sb/assets/demo/chart-bar-demo.js"></script>
}
